.App {
  text-align: center;
}

.Header {
  text-align: center;
}

ul {
  text-align: center;
}

.linkList {
  text-align: center;
}

.container {
  text-align: center;
}

body {
  height: 100%;
  padding-top: 70px;
}

.navbar-text {
  text-align: right;
}

.thumbsup {
  background-color: green;
}

.thumbsdown {
  background-color: red;
}
