.App {
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;
}
.header {
  margin: 0;
}

.linkList {
  text-align: center;
}

.container {
  text-align: center;
}

body {
  height: 100%;
  padding-top: 0;
  background-color: lightseagreen;
}

.thumbsup {
  background-color: green;
}

.thumbsdown {
  background-color: red;
}

.comment {
  text-align: center;
  border-style: solid;
  border-color: black;
  background-color: lightgray;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.topics-list {
  display: flex;
  justify-content: center;
  border-spacing: 15px;
}

.topic {
  border-style: solid;
  border-color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.article {
  text-align: center;
  border-style: solid;
  border-color: black;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.home-box {
  text-align: center;
  border-style: solid;
  border-color: black;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
